{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/post.css'%}" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:logout'%}">LogOut</a></li>
                <li><a href="#">Reset_Password</a></li>
                <li>{{ user.username }}でログイン中</li> <!-- Add this line -->
                {% else %}
                <li><a href="{% url 'accounts:signup' %}">サインアップ</a></li>
                <li><a href="{% url 'accounts:login' %}">ログイン</a></li>
                {% endif %}
                <li><a href="{% url 'map:post'%}">投稿システムへ</a></li>
        </ul>
        </nav>
    </header>
    <main>
        {% block contents %}{% endblock %}
    </main>
</body>
</html>
